*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background: #040125;
    color: #fff;
}
/*MENU*/
.navbar{
    background: #ffffff2f;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.navbar header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.navbar header .logo a{
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}
.navbar header ul{
    display: flex;
    list-style: none;
}
.navbar header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
}
/*INICIO*/
.about{
    margin-left: 80px;
}
a{
    text-decoration: none;
    color: #fff;
}
.inicio{
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
}
.init{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.skills{
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.foto{
    animation: astronaut-float 10s infinite alternate;
}
@keyframes astronaut-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
.astronaut {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: astronaut-float 10s infinite alternate;
    z-index: -1;
}
/*SOBRE MI*/
.sobre h1{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.nav-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nav-me li{
    list-style: none;
    margin: 0px 40px 40px 40px;
    background: #ffffff23;
    border-radius: 10px;
}
.nav-me li h2{
    text-align: center;
    margin: 5px;
}
.nav-me li h5{
    margin-left: 15px;
}
.nav-me li h3{
    margin: 0px 15px 15px 15px;
}
/*PROYECTOS*/
/*CONTACTO*/
/*SCROLLBAR*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #040125;
}
::-webkit-scrollbar-thumb{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(109, 0, 172) 100%);
    border-radius: 10px;
}